<%- include partials/header.ejs %>

<h1><svg class="custom-icon"><use xlink:href="/assets/icons/icons.svg#steam_logo"></use></svg> Steam Randomizer</h1>

<div class="container">
<div class="jumbotron">
    <p>Have tons of games in your steam library but don't still don't know what to play? We can give you a hand with that!</p>
    <p>Steam Randomizer uses your publicly available Steam Profile to help you choose a random game to play from the ones you own.</p>
    <p>To get started, insert your public <strong><span id="hint" data-toggle="popover" data-placement="top" title="Finding your Steam ID" data-html="true" data-content="This is not your Steam nickname or username, but the link to your community profile page. It should look like this: <strong>http://steamcommunity.com/id/yournamehere/</strong><br><strong>https://steamcommunity.com/profiles/7235162853115</strong>">Steam Profile ID, URL, or Custom URL <svg class="custom-icon"><use xlink:href="/assets/icons/icons.svg#dice"></use></svg> <span></strong> in the box below, click Randomize and receive a random game instantly!</p>
    <form action="/randomize" method="GET">
        <div class="form-group">
            <input type="text" class="form-control centered" id="idInput" placeholder="Enter SteamID" name="id">
        </div>
        <div class="form-group">
            <button id="submit-btn" class="d-flex justify-content-center btn btn-primary"><svg class="custom-icon-btn"><use xlink:href="/assets/icons/icons.svg#dice"></use></svg>Randomize</button>
        </div>
    </form>
</div>
</div>

<%- include partials/footer.ejs %>
<script src="scripts/home.js"></script>
</body>
</html>