:root{
    --color1: #1D232D;
    --color2: #353F54;
    --color3: #4B5672;
    --color4: #8196A8;
    --color5: #F5F5F5;
}

body{
    background-color: var(--color1);
    color: var(--color3);
    font-family: 'Fira Sans', sans-serif;
}

h1{
    text-align:center;
    margin: 25px;
    color: var(--color5);
}

form{
    display: block;
    align-self: center;
    margin: auto auto;
}

p{
    color: var(--color3);
}

h2{
    color: var(--color4);
    opacity: 0;
    -webkit-transition: opacity 1.5s linear;
    -moz-transition: opacity 1.5s linear;
    transition: opacity 1.5s linear;
    text-align: center;
}

.show{
    opacity: 1;
}

.jumbotron h1{
    color: var(--color1);
}

.jumbotron h2{
    color: var(--color2);
}

#headertron{
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 20px;
    padding-bottom: 28px;
}

#idInput{
    max-width: 200px;
    margin: auto auto;
}

#submit-btn{
    width: 130px;
    margin: 0 auto;
    align-self: center;
}

.footerText{
    text-align: center;
}

#hint{
    /* //text-decoration: underline; */
    border-bottom: 1px dashed currentColor;
    
}

ul{
    list-style-type: none;
    padding: 0 0;
}

#hint:hover{
    color: var(--color4);
}

.popover{
    max-width: 400px;
}

.custom-icon{
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
}

.custom-icon-btn{
    display: flex;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    align-self: center;
    margin-right: 4px;    
    fill: currentColor;
}

#reroll-btn{
    margin-top: 24px;
    margin-bottom: 24px;
    width: 140px;
}